.nav2 {
  border: 3px solid rgb(18, 220, 35);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

.nav3 {
  border: 3px solid rgba(147, 4, 213, 0.333);
  border-radius: 8px;
}

.nav1 {
  border: 3px solid red;
  border-radius: 8px;
  background-color: blue;

  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nav1 a {
  color: white;
  text-decoration: none;
}
